**/desktop.ini
**/__pycache__
**/secret*
**/venv
**/.venv
pc_venv/
**/.idea/
**/.env
**/secret*
logs/
**/population_json_files*
husain_videos/**
mykeys*
ssh_config
storage/postgres/sql_logs/**
/node_modules
/archive/**
/riyadh_villa_allrooms/**
**/ignore*
**/*response_data*
**/*_irregular_pages*
/cron_jobs/*.json
/cron_jobs/aquire_data/saudi_real_estate/aqar_data.csv
/cron_jobs/aquire_data/saudi_real_estate/aqar_data - Copy.csv
/cron_jobs/aquire_data/saudi_real_estate/**/*.json
/cron_jobs/aquire_data/saudi_real_estate/**/*.pkl
/cron_jobs/aquire_data/saudi_census/**/*.json
/cron_jobs/aquire_data/saudi_census/**/*.csv
.DS_Store
**/*all_features.json
**/*.csv
**/*.geojson
**/*.joblib
/cron_jobs/aquire_data/saudi_ggl_categories_full_data/**/*.json
/cron_jobs/aquire_data/saudi_ggl_categories_full_data/**/*.csv
/cron_jobs/aquire_data/saudi_income_data/**/*.csv
/cron_jobs/aquire_data/saudi_income_data/**/*.json
/cron_jobs/aquire_data/saudi_income_data/**/*.joblib

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.jsbeautifyrc

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# Ignore local Data
*villa_allrooms*
*all_col_names.json*
crawler.log
*log*

cron_jobs/aquire_data/saudi_real_estate/step2/traffic_screenshots/*