aiohttp
beautifulsoup4
aiofiles
psycopg2-binary
pandas
numpy
google-cloud-storage
google-auth
schedule==1.2.2
geopandas 
zipfile36
selenium
webdriver-manager
tenacity
httpx
scrapy==2.12.0
scrapy-zyte-api==0.25.2
python-dotenv==1.0.1
requests
fastapi>=0.65.2
uvicorn>=0.14.0
pydantic>=1.8.2
httpx
websockets
geopy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
firebase-admin
asyncpg
python-multipart
pytest
aiofiles
aiohttp
stripe
orjson
sympy
contextily
seaborn
sqlalchemy
folium
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tzdata==2025.2
urllib3==2.4.0
xgboost